<head>
<meta charset="UTF-8">
<title><%= title %></title>
<!--CSS區塊-->
<link href="//d15namuz3z1w3j.cloudfront.net/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="stylesheets/common.css">
<!--JS區塊-->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
</head>