<div class="masthead">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#/welcome">Home</a></li>
		<!-- <li class="active"><a href="/favi/intro">Intro</a></li> -->
		<li class="active"><a href="#/register">Register</a></li>
		<li class="active"><a href="#/login">Login</a></li>
	</ul>
	<h3 class="muted">Favi</h3>
	<hr>
</div>