<div class="container-narrow">
	<div ng-include src="'themeplate/header.ejs'"></div>
	<div class="jumbotron">
	    <h1>Super awesome bookmarklet tool!</h1>
	    <p class="lead">Favi want U</p>
	    <a class="btn btn-large btn-success" href="/favi/member_register.html">Sign up today</a>
	</div>
	<div ng-include src="'themeplate/footer.ejs'"></div>
</div>